.gallery {
    margin: 10px;
    width: auto;
    display: flex;
    flex-wrap: wrap;
}

.spot {
    display: inline-block;
    height: 180px;
    width: 180px;
    margin: 40px;
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    >img {
        flex-grow: 1 1 0;
        height: auto;
        max-height: 100%;
        max-width: 100%;
        object-fit: contain;
    }
}